<!doctype html>
<html lang="en" style="height: auto;">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#<!-- Bootstrap CSS -->#}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"#}
    {#integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">#}

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    {#Navbar#}
    {% include("partials/admin.nav.twig") %}

    {#Main Sidebar Container#}
    {% include("partials/admin.sidebar.twig") %}

    {#Content Wrapper. Contains page content#}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% block page_title %}{% endblock %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            {#<div class="alert alert-warning alert-dismissible fade show" role="alert">#}
            {#{% for msg in flash('error') %}#}
            {#{{ msg }}#}
            {#{% endfor %}#}
            {#<button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
            {#<span aria-hidden="true">&times;</span>#}
            {#</button>#}
            {#</div>#}

            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {# disable right sidebar #}
    {#<!-- Control Sidebar -->#}
    {#<aside class="control-sidebar control-sidebar-dark">#}
    {#<!-- Control sidebar content goes here -->#}
    {#<div class="p-3">#}
    {#<h5>Title</h5>#}
    {#<p>Sidebar content</p>#}
    {#</div>#}
    {#</aside>#}
    {#<!-- /.control-sidebar -->#}

    {#Main Footer#}
    {% include("partials/admin.footer.twig") %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<script>
    $('#userTable').DataTable({
        "paging": true,
        // "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "pageLength": 5,
        "lengthMenu": [5, 10, 15]
    });
    $('#studentTable').DataTable({
        "paging": true,
        // "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "pageLength": 5,
        "lengthMenu": [5, 10, 15]
    });
</script>
</body>
</html>
