<!doctype html>
<html lang="en" style="height: auto;">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Compress CSS -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    {% block css %}{% endblock %}

</head>

<body>
<div class="wrapper">
    <div class="bg">
        {% block content %}{% endblock %}
    </div>
    {% block extend %}{% endblock %}
</div>
<script src="/js/app.js"></script>
<script>
    {% for error in flash('error') %}
    $.notify({
        // options
        message: '{{ error }}'
    }, {
        // settings
        type: 'danger'
    });
    {% endfor %}
    {% for info in flash('info') %}
    $.notify({
        // options
        message: '{{ info }}'
    }, {
        // settings
        type: 'info'
    });
    {% endfor %}
    {% for info in flash('success') %}
    $.notify({
        // options
        message: '{{ info }}'
    }, {
        // settings
        type: 'success'
    });
    {% endfor %}
    SmoothScroll({stepSize: 20})
</script>
{% block scripts %}{% endblock %}
</body>
</html>
