<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- AnimatedCSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.6.2/animate.css" rel="stylesheet">
    <!-- flatpickr dark -->
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <!-- smartwizard -->
    <link href="/plugins/smartwizard/css/smart_wizard.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/smartwizard/css/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css"/>
    <style>
        body {
            padding-top: 50px;
        }
    </style>

</head>

<body>
<div class="wrapper">
    {% include("partials/user.nav.twig") %}
    <div class="container">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% block page_title %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- Bootstrap-NotifyJS-->
<script src="/js/bootstrap-notify.js"></script>
<!-- flatpickrJS-->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- DataTables -->
{#<script src="/plugins/datatables/jquery.dataTables.js"></script>#}
{#<script src="/plugins/datatables/dataTables.bootstrap4.js"></script>#}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
<!-- jquery validate-->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<!-- smartWizard-->
<script type="text/javascript" src="/plugins/smartwizard/js/jquery.smartWizard.min.js"></script>
<!-- SweetAlert2 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- smoothscroll JS-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.js"></script>
<script>
    SmoothScroll({stepSize: 20});
    {% for error in flash('error') %}
    $.notify({
        // options
        message: '{{ error }}'
    }, {
        // settings
        type: 'danger'
    });
    {% endfor %}
    {% for info in flash('info') %}
    $.notify({
        // options
        message: '{{ info }}'
    }, {
        // settings
        type: 'info'
    });
    {% endfor %}
    {% for info in flash('success') %}
    $.notify({
        // options
        message: '{{ info }}'
    }, {
        // settings
        type: 'success'
    });
    {% endfor %}
</script>
{% block scripts %}{% endblock %}
</body>
</html>
