{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/admin.twig" %}
{% block title %}Admin Dashboard{% endblock %}

{% block page_title %}管理首頁{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="callout callout-info">
                <h5>訊息</h5>

                <p>系統還在持續建置中，惟本人還在服兵役，因此更新速度較慢</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

