{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/admin.twig" %}
{% block title %}Admin Dashboard{% endblock %}

{% block page_title %}Create User{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <!-- general form elements -->
            <form role="form" autocomplete="off" method="post" action="{{ path_for("submituser") }}">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="Username" class="col-md-3 col-form-label">ID Number</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="username" name="uid" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="role" class="col-md-3 col-form-label">User role</label>
                        <div class="col-md-4">
                            <select class="form-control" name="role">
                                <option value="0">Superuser</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="role" class="col-md-3 col-form-label">Active status</label>
                        <div class="col-md-4">
                            <select class="form-control" name="active">
                                <option value="1">Activate</option>
                                <option value="0">Deactivate</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <button type="submit" class="btn btn-success float-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

