{% extends "/layouts/full.cover.twig" %}
{% block title %}iRepair{% endblock %}


{% block content %}
    <div class="row">
        <div class="col mx-auto my-5 text-center">
            <img src="assets/Repair_Process.png" class="img-fluid">
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}