{% extends "/layouts/full.cover.twig" %}
{% block css %}
    <style>
        .bg {
            /* The image used */;
            background: url("assets/bg.jpg") no-repeat fixed center;
            /* Full height */
            height: 100vh;
            /* Center and scale the image nicely */
            background-size: cover;
        }

        .typed-cursor {
            color: white;
            animation: blink 0.7s infinite;
        }
    </style>
{% endblock %}
{% block title %}Lanyang iLife{% endblock %}

{% block content %}
    {{ include('partials/user.nav.twig', {nav_color: 'trans'}) }}
    <div class="d-flex w-100 h-100 p-sm-3 mx-auto flex-column text-white container">
        <main role="main" class="my-auto">
            <div class="col-sm-8 offset-sm-2 text-center">
                <h1><span class="typed"></span></h1>
                <hr>
                <p class="lead">有鑑於之前蘭陽i生活仍有許多改善空間，於是展開了爲期三月的系統改造計劃<br/>
                現在我們推出更友善且更美觀的i生活2.0 服務。簡潔易用的界面使操作更快速容易！</p>
            </div>
        </main>
    </div>
{% endblock %}
{% block extend %}
    <footer class="fixed-bottom bg-transparent p-sm-2 text-white text-center text-muted">
        © 2018 Handcrafted by MT.Chen | Lanyang 2.0
    </footer>
{% endblock %}

{% block scripts %}
    <script>
        var typed = new Typed('.typed', {
            strings: ["蘭陽i生活全新上線！", "Lanyang iLifely", "Lanyang iLife <strong>2.0</strong> ",],
            backSpeed: 30,
            smartBackspace: true,
            typeSpeed: 60,
        });
    </script>
{% endblock %}