{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/login.twig" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="login-logo">
        <a href="{{ path_for('loginForm') }}"><b>Lanyang</b> iLife</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Please Contact Web Admin : )</p>
            <div class="m-4">
                <a href="{{ path_for('loginForm') }}" class="btn btn-success btn-flat btn-block">Return</a>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
{% endblock %}