{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/admin.twig" %}
{% block title %}Login{% endblock %}

{% block content %}
    <header class="masthead-login d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="card border-dark bg-light mb-3">
                        <div class="card-header bg-dark text-white"><i class="fas fa-sign-in-alt"></i> Login</div>
                        <div class="card-body">
                            <form method="POST" action="{{ path_for('loginAuth') }}">
                                <a class="btn btn-info btn-block mt-2 text-white" aria-disabled="true"
                                   href="https://sso.tku.edu.tw/ilifelytest">SSO Login</a>
                                <p class="text-center m-2 text-muted">or</p>
                                {# username #}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" name="name">
                                </div>
                                {# password #}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                {# remember #}
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="remember" value="true">
                                        Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-dark btn-block mt-5">Login</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </header>
{% endblock %}