{% extends "/layouts/user.twig" %}
{% block title %}iBus{% endblock %}
{% block page_title %}{% endblock %}
{% block content %}
    <div class="row animated fadeInDown">
        <div class="col-lg-6 offset-lg-3">
            <div class="card card-danger card-outline">
                <div class="card-header">
                    <h3 class="card-title">警告</h3>
                </div>
                <div class="card-body">
                    {% if _get.status == 'null' %}
                        目前系統無車班資料
                        <div class="m3">
                            <a class="btn btn-default m-3 float-right" href="{{ path_for('home') }}">返回</a>
                        </div>
                    {% elseif _get.status == 'suspend' %}
                        您目前已被停權，詳情請聯繫系統管理員
                        <div class="m3">
                            <a class="btn btn-default m-3 float-right" href="{{ path_for('home') }}">返回</a>
                        </div>
                    {% elseif _get.status == 'close' %}
                        目前系統暫時關閉中
                        <div class="m3">
                            <a class="btn btn-default m-3 float-right" href="{{ path_for('home') }}">返回</a>
                        </div>
                    {% else %}
                        系統錯誤
                        <div class="m3">
                            <a class="btn btn-danger m-3 float-right" href="{{ path_for('home') }}">返回</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

