{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/user.twig" %}
{% block title %}User Dashboard{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% include("partials/user.menu.twig") %}

            <!-- /.card -->
        </div>
        <div class="col-md-9">
            <div class="card card-outline card-info animated fadeInDown">
                <div class="card-header">
                    <h3 class="card-title">My Reservations</h3>
                </div>

                <div class="card-body  table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Destination</th>
                            <th>Departure</th>
                            <th>Capacity</th>
                            <th>Reservation</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        {% for bus in buses %}
                            <tr>
                                {% if bus.type == 1 %}
                                    <td>礁溪 → 蘭陽校園</td>
                                {% else %}
                                    <td>蘭陽校園 → 礁溪</td>
                                {% endif %}
                                <td>{{ bus.departure_time|date("Y-m-d H:i") }}</td>
                                <td>{{ bus.capacity }}</td>
                                {% if bus.reservation %}
                                    <td>Yes</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td>{{ bus.description|default('') }}</td>
                                <td>
                                    <a class="mx-1" style="color: #f56954" href="#" data-toggle="modal"
                                       data-placement="top" data-target="#delete"
                                       title="Delete" id="seleteId" data-bus-id="{{ bus.bus_id }}"><i
                                                class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Delete Modal -->
    <div class="modal fade" id="delete" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body mx-auto">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fas fa-minus-circle fa-7x m-md-4" style="color: #f56954"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Do you really want to cancel?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mx-auto">
                        <form method="post">
                            <input type="hidden" name="delete" value="true">
                            <input type="hidden" id="id" name="id">
                            <button type="button" class="btn btn-flat btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <button type="submit" class="btn btn-flat btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        var bus;
        $("a#seleteId").click(function () {
            bus = $(this).data("busId")
        });
        $('#delete').on('show.bs.modal', function (e) {
            $("input#id").val(bus);
        });
    </script>
{% endblock %}

